<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Grid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <style>
      
    .grid {
      display: grid;
      grid-template-columns: repeat({{ x_units }}, 10px);
      grid-template-rows: repeat({{ y_units }}, 10px);
      gap: 1px;
    }
    .grid-item {
      width: 10px;
      height: 10px;
      background-color: #ddd;
}
  
    </style>

</head>
<body>
    <header>
        <h1>Generated Grid</h1>
    </header>

    <main>
        <div class="grid">
            {% for _ in range(x_units * y_units) %}
                <div class="grid-item"></div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
