<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gridix</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body style="background-color:#4d0972">
    <h1>Gridix</h1>
    <form method="POST">
        <input type="number" id="MinimumGridSizeInput" name="MinimumGridSizeInput" min="10"
            placeholder="Minimum grid size" required /> <br>
        <input type="number" id="MaximumGridSizeInput" name="MaximumGridSizeInput" min="15"
            placeholder="Maximum grid size" required /> <br>
        <input type="number" id="ShelfWidthInput" name="ShelfWidthInput" min="10" placeholder="Width of space"
            required /> <br>
        <input type="number" id="ShelfLenInput" name="ShelfLenInput" min="10" placeholder="Length of space" required />
        <br>
       <button><li><a href="/Grid"> Generate</a></li></button>
        </form>
</body>

</html>