<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Document</title> 
</head> 
<body> 
    <form method="POST"> 
        <input type="number" id="MinimumGridSizeInput" name="MinimumGridSizeInput" min="10" placeholder="Minimum grid size" required/>
        <input type="number" id="MaximumGridSizeInput" name="MaximumGridSizeInput" min="15" placeholder="Maximum grid size" required/>
        <input type="number" id="ShelfWidthInput" name="ShelfWidthInput" min="10" placeholder="Width of space" required/>
        <input type="number" id="ShelfLenInput" name="ShelfLenInput" min="10" placeholder="Length of space" required/>
        <input type="submit" value="Submit">
    </form> 
</body> 
</html>